.testimony-container {
  width: 1170px;
  height: 368px;
  margin: 10px 10px 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.testimony-img {
  height: 100%;
  width: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.testimony-text-container {
  text-align: center;
  padding: 40px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.testimony-text-name {
  font-size: 1.3rem;
  margin-top: 1rem;
  padding-bottom: 30px;
}

.testimony-text-testimony {
  font-size: 1.1rem;
  text-align: justify;
}

@media all and (575px <= width <= 765px) {
  .testimony-container {
    height: 350px;
    display: flex;
    flex-flow: column nowrap;
  }

  .testimony-text-container {
    padding: 20px;
  }

  .testimony-text-container > p {
    font-size: 0.8rem;
  }

  .testimony-img {
    height: 100%;
    border-radius: 20%;
    margin: 10px;
  }

  .testimony-text-name {
    padding-bottom: 5px;
  }
}

@media all and (max-width: 574px) {
  .testimony-container {
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
  }

  .testimony-text-container {
    padding: 30px;
  }

  .testimony-text-container > p {
    font-size: 0.7rem;
  }

  .testimony-img {
    height: 100px;
    border-radius: 20%;
  }

  .testimony-text-name {
    margin-top: 0;
    padding-bottom: 10px;
  }
}
