.footer {
  background: #0a0a23;
  color: #fff;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.contact-link {
  color: #fff;
  font-size: 1.3rem;
}

@media all and (375px <= width <= 765px) {
  .footer {
    min-width: 100%;
    position: fixed;
    bottom: 0;
  }

  .contact-link {
    font-size: 1rem;
  }
}
